body {
	margin: 0 auto;
	font-family: Quicksand;
	cursor: url(cursor.cur), auto;

	background-color: #fff;
	user-select: none;
}

canvas {
	z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.button {
	z-index: 10;
	display: block;
	margin-bottom: 5px;
	padding: 10px 15px;
	opacity: 0.8;

	background-color: #ddd;
	border-right: 3px #aaa solid;

	text-align: center;
	font-size: 10px;
	letter-spacing: 2px;
	color: #000;

	transition: background 0.2s, color 0.2s, border-right-color 0.2s;
}
.button:hover {
	background: #eee;
	color: #0a0;
	border-right-color: #0a0;
	cursor: url(cursor.cur), auto;
}
.buttom:active {
}

#margin {
	position: absolute;
	bottom: 5px;
	left: 10px;

	font-size: 10px;
}

#buttonContainer {
	position: absolute;

	top: 10px;
	right: 10px;
}
#summonContainer {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
